{% extends 'base.html' %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    {% block css %}{% endblock css %}
  </head>

  {% block body %}
    <form action="{% url 'accounts:login' %}" method="POST">
      {% csrf_token %}
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="ID">
        <label for="floatingInput">ID</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">로그인</button>
      </div>
    </form>
    <a href="{% url "accounts:create" %}">회원가입</a>
    <!-- 바로 시작으로 이동 -->
  {% endblock body %}

</html>