{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    {% block css %}{% endblock css %}
  </head>

  <body>
    <div class="position-absolute top-50 start-50 translate-middle">
      <div>
        <div class="d-flex flex-column">
          <input type="text">
          <input type="password">
          <button type="button" class="btn btn-primary w-50 h-50">로그인</button>
          <!-- 바로 시작으로 이동 -->
        </div>
      </div>
    </div>
    {% bootstrap_javascript %}
  </body>

</html>