{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock css %}
{% block body %}
  <div style=" text-align: center">
    <a href="{% url 'stopwatch:stop' %}">
      <button type="button" id="test1" onclick="startInterval();" class="btn btn-primary border border-dark">
        시작
      </button>
    </a>
  </div>
  <!-- 공부여부o -->
  <div class="opacity-100">
    {% for i in is_running_1 %}
      <p>{{i.username}}</p>
    {% endfor %}
  </div>
  <!-- 공부여부x -->
  <div class="opacity-25">
    {% for i in is_running_0 %}
      <p>{{i.username}}</p>
    {% endfor %}
  </div>
  <!-- 누적시간 -->
  <div>
    <p>오늘 누적시간:{{total_sum}}</p>
  </div>
{% endblock %}
{% block script %}{% endblock script %}
