{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/stopwatch.js"></script>
    <title>Document</title>
    {% bootstrap_css %}
    {% block css %}{% endblock css %}
  </head>

  <body>
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">000</a>
        <ul>
          {% if request.user.is_authenticated %}
            <li>
              <a class="navbar-brand fw-bold" href="{% url 'accounts:logout' %}">로그아웃</a>
            </li>
          {% else %}
            <li>
              <a class="navbar-brand fw-bold" href="{% url 'home' %}">로그인</a>
            </li>
            <li>
              <a class="navbar-brand fw-bold" href="{% url 'accounts:create' %}">회원가입</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block body %}{% endblock body %}
    </div>
    {% bootstrap_javascript %}
  </body>
  {% block script %}{% endblock script %}

</html>
