{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/stopwatch.js"></script>
    <title>Document</title>
    {% bootstrap_css %}
    {% block css %}{% endblock css %}
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark" style="margin-bottom:100px">
      <div class="container-fluid ">
        {% if user.is_authenticated %}
          <a class="navbar-brand text-light" href="{% url 'stopwatch:index' %}">000</a>
          <!-- 시작으로 -->
          <!-- 함수실행(startInterval) 상태시 수정x -->
        {% else %}
          <a class="navbar-brand text-light" href="{% url 'home' %}">000</a>
        {% endif %}
        <li class="nav-item">
          {% if user.is_authenticated %}
            <a class="nav-link text-light" href="{% url 'accounts:logout' %}">{{ user.username }}(로그아웃)</a>
          {% else %}
            <a class="nav-link text-light" href="{% url 'accounts:login' %}">로그인</a>
            <a class="nav-link text-light" href="{% url 'accounts:create' %}">회원가입</a>
          {% endif %}
        </li>
      </div>
    </nav>
    <div class="container">
      {% block body %}{% endblock body %}
    </div>
    {% bootstrap_javascript %}
  </body>
  {% block script %}{% endblock script %}

</html>
